.main-work{
    background: url("../images/home-appcode001.jpg") center center no-repeat ;

}

.header .logo {
    background: url("../images/laixuemeLogoYellow.png") 0 center no-repeat;
    width: 165px;
    background-size: cover;



}