.main-work{
    background: url("../images/home-appcode004.jpg") center center no-repeat ;

}

.header .logo {
    background: url("../images/laixuemeLogoPure.png") 0 center no-repeat;
    background-size: 165px auto
;
    width: 186px;
    background-size: cover;




}